.todoSide{
    display: 'flex';
    height: '100vh';
    color: 'white';
}

.logoSide{
    width: 65px;
    height: 65px;
    margin-top: -5px
}

.titleSide{
    padding-left: 50px;
    padding-top: 5px;
}

.navIcon{
    width: 30px;
    height: 30px;
    color: white;
}

.navIcon2{
    width: 30px;
    height: 30px;
    color: white;
}

.navIcon3{
    width: 30px;
    height: 30px;
    margin-left: 6px;
}

.profDiv{
    position:relative;
    width: 100px;
    margin-bottom: -62px;
    margin-left: 60px;
    cursor: pointer;
    z-index: 1;
}
.profDiv{
    position:relative;
    width: 100px;
    margin-bottom: -62px;
    margin-left: 60px;
    cursor: pointer;
    z-index: 1;
}

.buttonSide{
    background-color: rgba(0,0,0,0.0);
    border: none;
}

.logout{    
    position: absolute;
    padding: 10px 25px;
    bottom: 5px;
    cursor: pointer;
}

.logout:hover, .logoutIcon:hover{
    background-color: #494949;
    color: rgb(255, 0, 0);
}

.logoutIcon{
    width: 30px;
    height: 30px;
    color: white;  
}